.quote{
    background: #7e9d9e;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.quote.inspirational{
    border-left: 5px solid green;

}
.quote h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}