<form>
    <div class="form-control">
        <label for="text">Quote:</label>
        <input type="text" name="text" id="text" placeholder="Add quote here">
    </div>
    <div class="form-control">
        <label for="text">Author:</label>
        <input type="text" name="author" id="author" placeholder="Author name here">
    </div>
    <div class="form-control form-control-check">
        <label for="text">Inspirational?</label>
        <input type="checkbox" name="Inspirational" id="Inspirational">
    </div>
    <input type="submit" value="Save Quote" class="btn btn-block">
</form>